$image_height:150px;
$image_width:150px;


.crads_container{
    background-color: red;
}
.card{
    background-color: black;
    img{
        height: $image_height;
        width: $image_width ;
    }
}